@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121417;
    --foreground: #ededed;
  }
}

h1{
  font-size: 30px;
  font-weight: 700;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.MainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.MainBtnContainer{
    display:flex;
    width:500px;
    gap:20px;
}

.MainBody{
  padding: 120px 30px 100px 30px;
  width: 1000px;
}

.MainBody_wide{
  padding: 120px 30px 100px 30px;
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

.no-padding-top{
  padding-top: 0px;
}

/* th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
} */

@media (max-width: 900px) { /* Styles for screens wider than 768px */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
}

@media screen and (max-width: 800px) {
  .MainContainer{
    width: 100%;
    padding: 20px;
  }

  .MainSubtitle{
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
    .MainBtnContainer{
        width: 100%;
    }

    .MainContainer h1{
        font-size: 20px;
    }

    .MainContainer p{
        font-size: 14px;
    }

    .MainContainer button{
        font-size: 10px;
    }
}

