.quick_action{
    border: 1px solid #000000;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 8px;
}

.action_btns{
    display: flex;
    gap: 20px;
}

.action_btn{
    margin: 10px 0px;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}


.tabGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px
}

.tab{
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 8px;   
    min-height: 200px;
}

.tab_body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}

.activity_container{
    display: flex;
    gap:10px;
    font-size: 12px;
}

.activity_left{
    padding: 5px;
    background-color: rgba(56, 55, 55, 0.39);
    border-radius: 5px;
    height: fit-content;
}

.usage_container{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: rgba(56, 55, 55, 0.247);
    padding: 10px;
    border-radius: 10px;
}

.usage_label{
    font-size: 14px;
}

.usage_value{
    font-size: 20px;
    font-weight: 700;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post_tag{
    font-size: 10px;
    opacity: .8;
}

.post_description{
    font-size: 12px;
    opacity: .8;
}

.post_image{
    width: 100%;
    height: 150px;
}

.post_image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.tab_btn{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background-color: rgba(56, 55, 55, 0.247);
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    align-self: flex-end;
}